<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakaroo.footprinterservice">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 앱이 백그라운드 상황일 때 위치에 접근하려면 안드로이드 10부터 필요 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
 ACCESS_COARSE_LOCATION은 네트워크(와이파이, 3G, 4G 등)를 이용해서 단말기 위치를 식별하고,
     ACCESS_FINE_LOCATION은 GPS와 네트워크를 이용한다.
     때문에 ACCESS_FINE_LOACTION을 사용하면 더 정확한 위치를 알 수 있다.
    -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootPrinterService"
        android:usesCleartextTraffic="true">

        <receiver android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.kakaroo.footprinterservice.FOOT_PRINTER"/>
                <action android:name="com.kakaroo.footprinterservice.FOOT_PRINTER_RESTART"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SubActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>